@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	color: #e6e6e6;
	font-family: Open-Sans, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background-color: #191919;
    min-height: 100%;
	position: relative;
}

body {
    margin-bottom: 100px;
}

header {
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

header .container {
	height: 44px;
	margin: 0 auto;
	max-width: 1003px;
	position: relative;
}

header .container .logo {
	float: left;
	height: 44px;
	width: 200px;
}

header .container .logo a {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	height: 100%;
	line-height: 44px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.1s ease-in 0s;
}

header .container .logo a:hover {
	color: #ff387a;
}

header .container .search-pos {
	overflow: hidden;
}

header .container .search {
	margin-top: 6px;
	max-width: 500px;
}

header .container .search .search-button {
	background: transparent url("../gfx/ico.png") no-repeat scroll center center;
	border: none;
	cursor: pointer;
	float: right;
	font-size: 0;
	height: 30px;
	margin-left: 6px;
	opacity: 0.6;
	transition: all 0.1s ease-in 0s;
	width: 30px;
}

header .container .search .search-button:hover {
	opacity: 1;
}

header .container .search .search-bar {
	height: 30px;
	overflow: hidden;
	position: relative;
}

header .container .search .search-bar .search-field {
	border: 1px solid #bfbfbf;
	color: #333;
	font-size: 14px;
	height: 100%;
	padding: 0 6px;
	position: absolute;
	width: 100%;
}

header .container .menu {
	float: right;
	margin-left: 30px;
}

header .container .menu li {
	display: inline-block;
	line-height: 40px;
}

header .container .menu li a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 800;
	height: 100%;
	opacity: 0.6;
	padding: 0 5px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.1s ease-in 0s;
}

header .container .menu li a:hover {
	opacity: 1;
}

section .container {
	margin: 44px auto 0;
	width: 1003px;
	position: relative;
}

section .yui3-g{
	padding: 20px 10px 40px;
}

section .container .form-horizontal .upload {
	background: transparent url("../gfx/sav.png") no-repeat scroll center center;
	display: block;
	float: left;
	height: 22px;
	margin-right: 6px;
	opacity: 0.6;
	transition: all 0.1s ease-in 0s;
	width: 24px;
}

section .container .form-horizontal .upload:hover {
	opacity: 1;
}

section .container .form-horizontal .upload input {
	display:block;
	cursor: pointer;
	height: 30px;
	opacity: 0;
	width: 30px;
}

label.title {
	display: block;
	font-weight: bold;
	height: 30px;
	letter-spacing: 0.1em;
}

section .container .form-horizontal .input-box {
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

section .container .form .input-group {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

section .container .form-horizontal .input-box .input-field, section .container .form .input-group .input-field {
	border: 1px solid #bfbfbf;
	border-radius: 0;
	color: #333;
	font-size: 14px;
	height: 30px;
	padding: 0 0 0 6px;
	width: 200px;
}

section .container .form-horizontal .input-box option, section .container .form  option  {
	color: #333;
	padding: 4px 4px 4px 6px;
}

section .container .form-horizontal .text-field {
	border: 1px solid #bfbfbf;
	border-radius: 0;
	color: #333;
	height: 30px;
	font-size: 14px;
	max-width: 968px;
	min-height: 150px;
	min-width: 400px;
	padding: 6px;
}

section .container .form-horizontal .submit-button, section .container .form .submit-button {
	background-color: #fff;
	border: 0 none;
	border-radius: 100px;
	color: #333;
	cursor: pointer;
	display: block;
	font-size: 18px;
	letter-spacing: 1.2px;
	margin-top: 20px;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: all 0.1s ease-in 0s;
	width: 250px;
}

section .container .form-horizontal .submit-button:hover, section .container .form .submit-button:hover {
	background-color: #ff387a;
	color: #fff;
}

section .container .form .submit-button {
	margin-left: auto;
	margin-right: auto;
}

section div#profile-name {
	padding-bottom: 20px;
}

section .container .sidebar-left {
	text-align: center;
}

section .container .sidebar-left img {
	margin-bottom: 20px;
}

section .container .sidebar-left .sidebar-info {
	padding: 0 10px 0 0;
}

section .container .sidebar-left .sidebar-info dt {
	float: left;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}

section .container .sidebar-left .sidebar-info dd {
	border-bottom: 1px solid #f2f2f2;
	height: 24px;
	line-height: 24px;
	text-align: right;
}

section .container .sidebar-right p {
	text-align: justify;
	margin-bottom: 12px;
}

section .container .sidebar-right h2  {
	font-size: 18px;
}

section .container .media-box .media-title {
	font-size: 18px;
	letter-spacing: 1.2px;
	margin-bottom: 6px;
}

section .container .media-box p {
	text-align: justify;
}

.footer {
    background-color: #000;
	bottom:0;
	color: #919496;
    height: 100px;
	left: 0;
	line-height: 80px;
    position: absolute;
	text-align: center;
    width: 100%;
}

.footer p {
	color: #919496;
	font-size: 13px;
	text-transform: uppercase;
}